<script lang="ts" setup>
</script>

<template>
    <footer class="footer">
        <FooterMain></FooterMain>
        <FooterBottom></FooterBottom>
    </footer>
</template>

<style lang="scss" scoped>
    .footer{
        border-top: 1px solid #DAE0EE;
        padding: clampFluid(105) 0 0;
    }
</style>