<script lang="ts" setup>
</script>

<template>
    <div class="footer-bottom">
        <div class="footer-bottom__container container">
            <div class="footer-bottom__item">
                <span>© ИП Роздухов М.Е., 2023</span>
            </div>
            <div class="footer-bottom__item">
                <span>Политика конфиденциальности</span>
            </div>
            <div class="footer-bottom__item">
                <span></span>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '@/assets/scss/base';

    .footer-bottom{
        background-color: $black;
        margin-top: clampFluid(144);
        &__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: clampFluid(57);
        }
        &__item{
            span{
                color: $grey;
                font-size: clampFluid(12, 16);
                transition: all .3s ease;
            }
        }
    }
</style>