<script lang="ts" setup>
    
    const footerItems = ref<INavItem[]>([
            {
                'title': 'О нас',
                'link': '/',
            },
            {
                'title': 'Контакты',
                'link': '/',
            },
            {
                'title': 'Отзывы',
                'link': '/',
            },
            {
                'title': 'Вопросы',
                'link': '/',
            },
            {
                'title': 'Помощь',
                'link': '/',
            },
            {
                'title': 'С чего начать',
                'link': '/',
            },
            {
                'title': 'Закупочная политика',
                'link': '/',
            },
            {
                'title': 'Типовые формы документов',
                'link': '/',
            },
            {
                'title': 'Закупки',
                'link': '/',
            },
            {
                'title': 'Продажи',
                'link': '/',
            },
            {
                'title': 'Аренда оборудования',
                'link': '/',
            },
        ]
    )
</script>

<template>
    <div class="footer-main">
        <div class="footer-main__container container">
            <div class="footer-main__logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="footer-main__about">
                <div class="footer-main__about-item">
                    <span>Главный офис «МАКСИ»:</span>
                </div>
                <div class="footer-main__about-item">
                    <span><b>160023, РФ, г. Вологда, ул. Молодёжная, 25</b></span>
                </div>
                <div class="footer-main__about-item">
                    <span><b>Главный офис «МАКСИ»:</b></span>
                </div>
            </div>
            <div class="footer-main__nav">
                <div class="footer-main__nav-item" v-for="item in footerItems" :key="item.title">
                    <span>{{ item.title }}</span>
                </div>

            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .footer-main{
        &__container{
            display: flex;
        }
        &__logo{
            width: clampFluid(271);
            height: clampFluid(45);
            margin-right: clampFluid(179);
        }
        &__about{
            display: flex;
            flex-direction: column;
            gap: clampFluid(22);
            width: clampFluid(220);
            margin-right: auto;
        }
        &__about-item{
            font-size: clampFluid(18);
        }
        &__nav{
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr 1fr;
            gap: clamp(8px, 0.625vw, 12px) clamp(52px, 4.0625vw, 78px);
        }
        &__nav-item{
            cursor: pointer;
            span{
                transition: all .3s ease;
                font-size: clampFluid(18);
            }
            &:hover{
                span{
                    color: $main-clr;
                }
            }
        }
    }
</style>