<script lang="ts" setup>
    const userFormData = reactive<IUserAuth>({
        email: '',
        password: '',
    })

    async function loginSubmit(){
        const response = await $fetch('/auth/token/login/', {
            method: 'POST',
            body: userFormData
        })
        console.log(response);
    }
</script>

<template>
    <form class="form-login" @submit.prevent.stop="loginSubmit()">
        <UIInput v-model="userFormData.email" placeholder="Имя пользователя (ИНН)" type="text"/>
        <UIInput v-model="userFormData.password" placeholder="Пароль" type="password"/>
        <NuxtLink class="form-login__forgot">
            <span>Забыли пароль?</span>
        </NuxtLink>
        <UIButton type="submit">
            Войти
        </UIButton>
        <UIAgreement>Ещё нет аккаунта? <NuxtLink to="/account/register">Зарегистрироваться</NuxtLink></UIAgreement>
    </form>
</template>

<style lang="scss" scoped>
    .form-login{
        display: flex;
        flex-direction: column;
        gap: clampFluid(8);
        &__forgot{
            padding: clampFluid(6) 0 clampFluid(17) clampFluid(10);
            span{
                font-family: Roboto;
                font-size: clampFluid(16);
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
</style>