<script lang="ts" setup>
</script>

<template>
    <div class="ui-agreement">
        <span>
            <slot>Нажимая кнопку, вы соглашаетесь <a href="/personal-data" target="_blank">с Правилами обработки персональной информации</a></slot>
        </span>
    </div>
</template>

<style lang="scss" scoped>
    .ui-agreement{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        span{
            font-family: Roboto;
            font-size: clampFluid(16);
            font-weight: 400;
            line-height: 130%;
            color: #343637;
            a{
                color: #E01021;
                transition: all .3s ease;
                &:hover{
                    color: #969AA8;
                }
            }
        }
    }
</style>