<script lang="ts" setup>
    const { breadcrumbs, } = defineProps<{
        breadcrumbs: IBreadcrumb[]
    }>()
</script>

<template>
    <div class="breadcrumbs">
        <div class="breadcrumbs__item">
            <NuxtLink to="/" class="breadcrumbs__item-link">
                <span>Главная</span>
            </NuxtLink>
        </div>
        <div class="breadcrumbs__item" v-for="(item, index) in breadcrumbs">
            <NuxtLink :to="item.link" class="breadcrumbs__item-link" v-if="index != breadcrumbs.length - 1">
                <span>{{ item.title }}</span>
            </NuxtLink>
            <span v-else>
                <span>{{ item.title }}</span>
            </span>
        </div>
        
    </div>
</template>

<style lang="scss" scoped>
    .breadcrumbs{
        display: flex;
        gap: clampFluid(14);
        padding: clampFluid(28) 0 clampFluid(50);
        &__item{
            display: flex;
            &:not(:last-child){
                &::after{
                    content: '/';
                    color: #E01021;
                    display: flex;
                    margin-left: clampFluid(14);
                }
            }
        }
        &__item-link{
            span{
                color: #969AA8;
            }
        }
    }
</style>