<script lang="ts" setup>
    interface IProps {
        type?: 'submit' | 'button',
        to?: string,
    }
    const { type, to } = defineProps<IProps>()
</script>

<template>
    <button class="iu-button" v-if="type" :type="type">
        <span><slot></slot></span>
    </button>
    <NuxtLink class="iu-button" v-else-if="to" :to="to">
        <span><slot></slot></span>
    </NuxtLink>
</template>

<style lang="scss" scoped>
    .iu-button{
        width: 100%;
        height: clampFluid(57);
        border: 2px solid #E01021;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        cursor: pointer;
        &:hover{
            background-color: #E01021;
            span{
                color: #fff;
            }
        }
        span{
            font-family: Roboto;
            font-size: clampFluid(20);
            font-weight: 700;
            line-height: 140%;
            color: #343637;
            transition: all .3s ease;
        }
    }
</style>