<script lang="ts" setup>
    const { FAQList } = defineProps<{
        FAQList: IFAQItem[],
    }>()
</script>

<template>
    <UIFaqItem v-for="faqItem in FAQList" :FAQItem="faqItem"/>
</template>

<style lang="scss" scoped>
</style>