<script lang="ts" setup>
    const { FAQItem } = defineProps<{
        FAQItem: IFAQItem,
    }>()
    const opened = ref<boolean>(false)
    const body = ref<HTMLDivElement | undefined>()
    const height = computed(() => {
        if (opened.value){
            return (body.value as HTMLDivElement).scrollHeight
        }
        return 0
    })
</script>

<template>

    <div class="faq-item">
        <div 
            class="faq-item__head"
            :class="{'opened': opened}"
            @click="() => {opened = !opened}"
        >
            <div class="faq-item__title">
                <span>{{  FAQItem.question }}</span>
            </div>
            <div class="faq-item__icon">
                <span></span>
                <span></span>
            </div>
        </div>
        <div 
            class="faq-item__body"
            ref="body"
            :style="{'height': height + 'px'}"
        >
            <div class="faq-item__text">
                {{ FAQItem.answer }}
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .faq-item{
        padding: clampFluid(50) 0 clampFluid(50) clampFluid(75);
        border-bottom: 1px solid #DAE0EE;
        &__head{
            display: grid;
            grid-template-columns: 1fr clampFluid(52);
            cursor: pointer;
        }
        &__title{
            span{
                font-size: clampFluid(32);
                font-weight: 700;
            }
        }
        &__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #DAE0EE;
            width: 100%;
            aspect-ratio: 1/1;
            height: auto;
            span{
                width: clampFluid(20);
                height: 2px;
                border-radius: 5px;
                background-color: #969AA8;
                position: absolute;
                &:nth-child(1){
                    rotate: 90deg;
                }
            }
        }
        &__body{
            overflow: hidden;
            transition: all .3s ease;
        }
        &__text{

        }
    }
</style>