<script lang="ts" setup>
    interface IProps  {
        type: 'text' | 'number' | 'tel' | 'password',
        placeholder?: string,
    }

    const { placeholder, } = defineProps<IProps>()

    const emits = defineEmits(['update:modelValue'])
    const value = ref<string>()
    watch(value, () => { emits('update:modelValue', value)})
    
</script>

<template>
    <label class="ui-input" v-if="type == 'text'">
        <input type="text" v-model="value" :placeholder="placeholder">
    </label>
    <label class="ui-input" v-else-if="type == 'number'">
        <input type="number" v-model="value" :placeholder="placeholder">
    </label>
    <label class="ui-input" v-else-if="type == 'tel'">
        <input type="tel" v-model="value" :placeholder="placeholder">
    </label>
    <label class="ui-input" v-else-if="type == 'password'">
        <input type="password" v-model="value" :placeholder="placeholder">
    </label>
</template>

<style lang="scss" scope>
    .ui-input{
        width: 100%;
        height: clampFluid(52);
        border: 1px solid #DAE0EE;
        border-radius: 4px;
        display: block;
        overflow: clip;

        input{
            width: 100%;
            height: 100%;
            padding: 0 clampFluid(17);

            font-family: Roboto;
            font-size: clampFluid(18);
            font-weight: 400;
            line-height: 120%;
            color: $black;
            background-color: transparent;

            &::placeholder{
                color: #969AA8;
                font-size: inherit;
                line-height: inherit;
            }
        }
    }
</style>