<script lang="ts" setup>
    interface IProps {
        items: string,
        def_title: string,
        def_value: string,
    }

    const {items, def_title, def_value} = defineProps<IProps>()
</script>

<template>
    <div class="ui-select">
        <label class="ui-select__field"></label>
    </div>
</template>

<style lang="scss" scoped>
</style>