<script lang="ts" setup>
    interface IProps {
        items: IAchievment[]
    }
    const { items } = defineProps<IProps>()
</script>

<template>
    <section class="achievments">
        <div class="achievments__container container--1920">
            <div class="achievments__item" v-for="item in items" :key="item.id">
                <p>{{ item.title }}</p>
                <span>{{ item.value }}</span>
                <p>&nbsp;</p>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    .achievments{
        border-bottom: 1px solid $border-clr;
        &__container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: clampFluid(234);
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 0 clampFluid(75);
            &:not(:last-child){
                border-right: 1px solid $border-clr;
            }
            p{
                font-size: 20px;
                color: $dark-grey;
                &:first-child{
                    order: 3;
                }
                &:last-child{
                    order: 1;
                }
            }
            span{
                font-size: clampFluid(54);
                font-weight: 500;
                order: 2;
            }
            &:nth-child(2n){
                p{
                    &:first-child{
                        order: 1;
                    }
                    &:last-child{
                        order: 3;
                    }
                }
            }
        }
    }
</style>