 <script lang="ts" setup>
    
    interface IProps {
        items: IActivity[]
    }

    const { items } = defineProps<IProps>()
</script>

<template>
    <div class="activity-list">
        <div class="activity-list__title container">
            <span>Наши направления деятельности</span>
        </div>
        <div class="activity-list__content">
            <div class="activity-list__list">
                <div class="activity-list__item" v-for="item in items" :key="item.id">
                    <span>{{ item.title }}</span>
                    <img :src="item.image" alt="">
                </div>
            </div>
            <div class="activity-list__image">
                <img src="/images/activities-base.jpg" alt="">
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .activity-list{
        $this: &;
        &__title{
            margin-bottom: clampFluid(51);
            span{
                font-family: Roboto;
                font-size: clampFluid(40);
                font-weight: 700;
                line-height: 115%;
            }
        }
        &__content{
            display: grid;
            grid-template-columns: 1fr clampFluid(945);
            position: relative;
        }
        &__image{
            width: 100%;
            height: clampFluid(508);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__list{
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            &:hover{
                #{$this}__item{
                    img{
                        z-index: 1;
                    }
                }
                & ~ #{$this}__image{
                    opacity: 0;
                }
            }
        }
        &__item{
            display: flex;
            padding: 0 clampFluid(75);
            align-items: center;
            border-top: 1px solid #DAE0EE;
            &:hover{
                img{
                    opacity: 1;
                    z-index: 3!important;
                }
            }
            span{
                font-family: Roboto;
                font-size: clampFluid(32);
                font-weight: 700;
                line-height: 120%;
                color: #969AA8;
            }
            img{
                width: clampFluid(945);
                height: clampFluid(508);
                object-fit: cover;
                position: absolute;
                z-index: -1;
                opacity: 0;
                top: 0;
                right: 0;
                transition: opacity .3s ease;
            }
        }
    }
</style>