<script lang="ts" setup>
    interface IProps {
        title: string,
        text: string,
        items: IAward[],
    }

    const { title, text, items } = defineProps<IProps>()
</script>

<template>
    <div class="awords">
        <div class="awords__container">
            <div class="awords__text">
                <h2 v-html="title"></h2>
                <p>{{ text }}</p>
            </div>
            <div class="awords__fake-item"></div>
            <div class="awords__item" v-for="item in items">
                <img :src="item.icon" alt="">
                <span>{{ item.text }}</span>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .awords{
        background-color: #F7F8FA;
        margin-bottom: clampFluid(100);
        &__container{
            display: grid;
            grid-template-columns: 1fr clampFluid(343) clampFluid(373) clampFluid(450);
        }
        &__text{
            border-bottom: 1px solid #DAE0EE;
            padding: clampFluid(79) clampFluid(261) clampFluid(66) clampFluid(75);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: clampFluid(28);
            h2{
                font-family: Roboto;
                font-size: clampFluid(40);
                font-weight: 700;
                line-height: 115%;
                text-align: left;
            }
        }
        &__fake-item{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 0 0 clampFluid(66);
            border-bottom: 1px solid #DAE0EE;
            border-right: 1px solid #DAE0EE;
            gap: clampFluid(22);
            &:nth-child(3){
                padding: 0 clampFluid(80) clampFluid(66) 0;
            }
            &:nth-child(4){
                padding: 0 clampFluid(62) clampFluid(66) clampFluid(51);
            }
            &:nth-child(5){
                padding: 0 clampFluid(129) clampFluid(66) clampFluid(50);
                img{
                    width: clampFluid(55);
                    height: clampFluid(55);
                }
            }
            &:nth-child(6){
                padding: clampFluid(45) clampFluid(72) clampFluid(40) 0;
                img{
                    width: clampFluid(24);
                    height: clampFluid(24);
                }
            }
            &:nth-child(7){
                padding: clampFluid(45) clampFluid(92) clampFluid(40) clampFluid(41);
                img{
                    width: clampFluid(24);
                    height: clampFluid(24);
                }
            }
            &:nth-child(8){
                padding: clampFluid(45) clampFluid(75) clampFluid(40) clampFluid(50);
                img{
                    width: clampFluid(24);
                    height: clampFluid(24);
                }
            }
            img{
                width: clampFluid(133);
                height: clampFluid(43);
                object-fit: contain;
            }
            span{
                font-size: clampFluid(20);
                line-height: 140%;
            }
        }
    }
</style>