<script lang="ts" setup>
    interface IProps {
        title: string,
        video: string,
        preview: string,
    }

    const { title, video, preview } = defineProps<IProps>()
</script>

<template>
    <section class="banner container--1920">
        <div class="banner__content">
            <div class="banner__title">
                <!-- <span><b>Портал</b> закупок <b>компании Макси</b></span> -->
                <span v-html="title"></span>
            </div>
            <SearchForm class="banner__search search-form--lite"></SearchForm>
            <div class="banner__search-filter">
                <div class="banner__search-filter-item">
                    <span>Сбор коммерческих предложений</span>
                </div>
                <div class="banner__search-filter-item">
                    <span>Аукцион</span>
                </div>
                <div class="banner__search-filter-item">
                    <span>Голландский аукцион</span>
                </div>
                <div class="banner__search-filter-item">
                    <span>Материалы</span>
                </div>
                <div class="banner__search-filter-item">
                    <span>Работы и услуги</span>
                </div>
            </div>
        </div>
        <div class="banner__video">
            <Video :preview="preview" :video="video" />
        </div>
    </section>
</template>

<style lang="scss" scoped>

    .banner{
        height: clampFluid(547);
        display: grid;
        grid-template-columns: clampFluid(885) 1fr;
        max-width: 1920px;
        margin: 0 auto;
        &__content{
            background-color: $black;
            padding: clampFluid(76) clampFluid(145) 0 clampFluid(145);
        }
        &__title{
            margin-bottom: clampFluid(34);
            span{
                font-weight: 300;
                font-size: clampFluid(74);
                color: #fff;
            }
        }
        &__search{
            margin-bottom: clampFluid(18);
            width: clampFluid(462);
        }
        &__search-filter{
            display: flex;
            flex-wrap: wrap;
            gap: clampFluid(6);
        }
        &__search-filter-item{
            display: flex;
            align-items: center;
            padding: clampFluid(7) clampFluid(14) clampFluid(8);
            border: 1px solid $dark-grey;
            border-radius: 4px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                background-color: #7B8287;
                span{
                    color: $white;
                }
            }
            span{
                font-size: clampFluid(16);
                color: $dark-grey;
                transition: all .3s ease;
            }
        }
    }
</style>