<script lang="ts" setup>
</script>

<template>
    <section class="registration-banner">
        <div class="registration-banner__container container">
            <div class="registration-banner__text">
                <h2>Быстрый <b>старт</b></h2>
                <p>Начните участие в тендерах уже сегодня</p>
            </div>
            <div class="registration-banner__btn">
                <div class="registration-banner__btn-start">
                    <span>Начать</span>
                </div>
                <div class="registration-banner__btn-hover">
                    <svg>
                        <use xlink:href="/images/sprite.svg#arrow"></use>
                    </svg>
                    <span>Регистрация</span>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    .registration-banner{
        background-color: #343637;
        height: clampFluid(506);
        display: flex;
        align-items: center;
        $this: &;
        &__container{
            position: relative;
            max-width: clampFluid(908);
            display: flex;
            gap: clampFluid(51);
        }
        &__text{
            padding-top: clampFluid(120);
            h2{
                font-family: Roboto;
                font-size: clampFluid(74);
                font-weight: 300;
                line-height: 115%;
                color: #fff;
                margin-bottom: clampFluid(13);
            }
            p{
                font-family: Roboto;
                font-size: clampFluid(20);
                font-weight: 400;
                line-height: 140%;
                color: #fff;
            }
        }
        &__btn{
            width: clampFluid(332);
            aspect-ratio: 1/1;
            height: auto;
            overflow: hidden;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            &:hover{
                #{$this}__btn-hover{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        &__btn-start{
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            border: 7px solid #E01021;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-family: Roboto;
                font-size: clampFluid(74);
                font-weight: 600;
                line-height: 115;
                color: #fff;
            }
        }
        &__btn-hover{
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            background-color: #E01021;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: clampFluid(9);
            transform: scale(0);
            transition: all .3s ease;
            svg{
                width: clampFluid(34);
                height: clampFluid(34);
                fill: #fff;
            }
            span{
                font-family: Roboto;
                font-size: clampFluid(40);
                font-weight: 400;
                line-height: 115%;
                color: #fff;         
            }
        }
    }
</style>