
<script lang="ts" setup>
</script>

<template>
    <form action="" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Поиск">
        <button type="submit">
            <svg><use xlink:href='/images/sprite.svg#zoom'></use></svg>
        </button>
    </form>
</template>

<style lang="scss" scoped>

    .search-form{
        display: grid;
        grid-template-columns: 1fr clampFluid(41);
        border: 1px solid $border-clr;
        border-radius: 4px;
        height: clampFluid(45);
        width: 100%;
        transition: all .3s ease;
        &:has(input:focus){
            background-color: #EDEFF4;
        }
        $this: &;
        &--lite{
            background-color: #626872;
            border: transparent;
            input{
                color: #fff;
                &::placeholder{
                    color: #969AA8;
                }
            }
            &:has(input:focus){
                background-color: #626872;
            }
        }
        input{
            width: 100%;
            height: 100%;
            padding: 0 0 0 clampFluid(17);
            font-size: clampFluid(18);
            background-color: transparent;
            &::placeholder{
                color: $dark-grey;
            }
        }
        button{
            width: 100%;
            display: flex;
            align-items: center;
            height: 100%;
            svg{
               width: clampFluid(18);
               height: clampFluid(18);
               fill: $dark-grey;
            }
        }
    }
</style>