<script lang="ts" setup>
    interface IProps {
        video: string,
        preview: string,
    }

    const { video, preview } = defineProps<IProps>()

    function videoInit(event:MouseEvent){
        (event.target as HTMLDivElement).innerHTML = ''
    }
</script>

<template>
    <div class="video" :style="{backgroundImage: `url(${preview})`}" @click="videoInit($event)">
        <div class="video__play">
            <svg><use xlink:href="/images/sprite.svg#play"></use></svg>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .video{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        $this: &;
        &:hover{
            #{$this}__play{
                background-color: rgba($color: $white, $alpha: .3);
            }
        }
        &__play{
            width: clampFluid(113);
            height: clampFluid(113);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
            padding: 0 0 1px clampFluid(8);
            svg{
                width: clampFluid(56);
                height: clampFluid(56);
                fill: $white;
            }
        }
    }
</style>