@import '~/assets/scss/fonts';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    line-height: 125%;
    outline: none;
}

input{
    border: none;
}

button{
    background: transparent;
    border: none;
}

.container{
    width: clampFluid(1770);
    margin: 0 auto;
    &--1920{
        margin: 0 auto;
        max-width: clampFluid(1920);
        width: 100%;
    }
}

a{
    text-decoration: none;
    &:visited{
        color: $black;
    }
}

.btn{
    width: 100%;
    height: clampFluid(47);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    span{
        font-size: clampFluid(20);
        font-weight: 700;
        transition: all .3s ease;
    }
    &--red-stroke{
        border: 2px solid #E01021;
        border-radius: 4px;
        span{
            color: $black;
        }
        &:hover{
            background-color: #E01021;
            span{
                color: #fff;
            }
        }
    }
}

.title{
    margin-bottom: clampFluid(30);
    h1, span{
        font-family: Roboto;
        font-size: clampFluid(74);
        font-weight: 500;
        line-height: 120%;
        color: $black;
    }
}