<script setup lang="ts">
const indexSettings = await $fetch<IIndexSettings>(`${process.server ?  "http://backend:8000" : "http://localhost"}/api/v1/settings/index`);
</script>

<template>
  <main>
      <Banner :title="indexSettings.banner_title" :video="indexSettings.banner_video" :preview="indexSettings.banner_preview"/>
      <Achievments class="index__achievments" :items="indexSettings.achievment_items"/>
      <TenderNew class="index__new-tenders" :title="indexSettings.new_tender_title" :text="indexSettings.new_tender_text"/>
      <RegistrationBanner />
      <Awards :title="indexSettings.awards_title" :text="indexSettings.awards_text" :items="indexSettings.award_items"/>
      <Activity-list :items="indexSettings.activity_items"/>
  </main>
</template>


<style lang="scss" scoped>
  .index{
    &__achievments{
      margin-bottom: clampFluid(120);
    }
    &__new-tenders{
      margin-bottom: clampFluid(101);
    }
  }
</style>