<script lang="ts" setup></script>

<template>
    <div class="container">
        <div class="button-list">
            <UIBtnList />
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .button-list{
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
</style>