<script lang="ts" setup>
</script>

<template>
    <div class="tender-card">
        <div class="tender-card__main">
            <div class="tender-card__types">
                <div class="tender-card__type-item">
                    <span>Сбор коммерческих предложений</span>
                </div>
                <div class="tender-card__type-item">
                    <span>Вологда</span>
                </div>
            </div>
            <div class="tender-card__info-line">
                <div class="tender-card__info-line-head">
                    <span>Предмет закупки</span>
                </div>
                <div class="tender-card__title">
                    <span>Например «Устройство свайного поля согласно проекта по адресу г…. улица… участок…»</span>
                </div>
            </div>
            <div class="tender-card__info-line">
                <div class="tender-card__info-line-head">
                    <span>Категория тендера</span>
                </div>
                <div class="tender-card__category">
                    <span>СМР. Свайные работы</span>
                </div>
            </div>
        </div>
        <div class="tender-card__detail">
            <div class="tender-card__info-line">
                <div class="tender-card__info-line-head">
                    <span>Стоимость закупки</span>
                </div>
                <div class="tender-card__result">
                    <span>Сбор предложений</span>
                </div>
            </div>
            <div class="tender-card__dateframe">
                <div class="tender-card__date-item">
                    <div class="tender-card__info-line-head">
                        <span>Сроки подачи заявок</span>
                    </div>
                    <div class="tender-card__time">
                        <span>01.01.2023–10.01.2023</span>
                    </div>
                </div>
                <div class="tender-card__date-item">
                    <div class="tender-card__info-line-head">
                        <span>Подведение итогов</span>
                    </div>
                    <div class="tender-card__time tender-card__time--grey">
                        <span>01.01.2023–10.01.2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .tender-card{
        border: 1px solid $border-clr;
        border-radius: 6px;
        display: grid;
        grid-template-columns: 1fr clampFluid(361);
        height: clampFluid(323);
        &__main{
            border-right: 1px solid $border-clr;
            padding: clampFluid(30);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__types{
            display: flex;
            gap: clampFluid(12);
        }
        &__type-item{
            border: 1px solid $border-clr;
            border-radius: 4px;
            padding: clampFluid(7) clampFluid(12) clampFluid(8);
            span{
                font-size: clampFluid(12, 16);
                color: $dark-grey;
            }
        }
        &__info-line{
            display: grid;
            gap: clampFluid(8);
        }
        &__info-line-head{
            span{
                font-size: clampFluid(18);
                color: $dark-grey;
            }
        }
        &__title{
            span{
                font-size: clampFluid(32);
                font-weight: 700;
            }
        }
        &__category{
            span{
                font-size: clampFluid(24);
                font-weight: 700;
            }
        }
        &__detail{
            padding: clampFluid(30);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__result{
            span{
                font-size: clampFluid(24);
                color: $dark-grey;
                font-weight: 700;
            }
        }
        &__dateframe{
            display: flex;
            flex-direction: column;
            gap: clampFluid(18);
        }
        &__time{
            span{
                color: $black;
                font-size: clampFluid(24);
                font-weight: 700;
            }
            &--grey{
                span{
                    color: $dark-grey;
                }
            }
        }
    }
</style>