<script lang="ts" setup>
</script>

<template>
    <div class="tender-list">
        <TenderCard />
        <TenderCard />
        <TenderCard />
    </div>
</template>

<style lang="scss" scoped>
    .tender-list{
        display: grid;
        gap: clampFluid(30);
    }
</style>