<script lang="ts" setup>
    interface IProps {
        title: string,
        text: string,
    }

    const { title, text } = defineProps<IProps>()
</script>

<template>
    <div class="tender-new container">
        <div class="tender-new__text-content">
            <div class="tender-new__title">
                <h2 v-html="title"></h2>
            </div>
            <div class="tender-new__text" v-html="text">

            </div>
            <div class="tender-new__btn btn btn--red-stroke">
                <span>Смотреть все</span>
            </div>
        </div>
        <TenderList />
    </div>
</template>

<style lang="scss" scoped>
    .tender-new{
        display: grid;
        grid-template-columns: 1fr clampFluid(1260);
        gap: clampFluid(126);
        &__text-content{
            display: grid;
            gap: clampFluid(31);
            height: fit-content;
        }
        &__title{
            h2{
                font-size: clampFluid(40);
                font-weight: 400;
            }
        }
        &__text{
            p{
                font-size: clampFluid(20);
            }
        }
        &__btn{
            width: clampFluid(165);
        }
    }
</style>