.p-calendar{
    display: flex;
    width: 100%;
    padding: 0 12px;
    height: 41px;
    align-items: center;
    background-color: #F3F5F7;
    border: 1px solid #E3EAF2;
    border-radius: 8px;
}

.p-inputtext{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
}