<script lang="ts" setup>
    const breadcrumbs = ref<IBredcrumb[]>([
        {
            'title': 'Войти',
            'link': '/'
        }
    ])

    const FAQList = ref<IFAQItem[]>([
        {
            'id': 1,
            'question': 'Кто может учаcтвовать в тендере?',
            'answer': 'Участвовать в тендере могут юридические или физические лица, которые имеют лицензию и соответствующую специализацию для выполнения работ или предоставления услуг, указанных в тендерной документации. Кроме того, исполнители должны соответствовать требованиям, установленным заказчиком в документации на тендере, в том числе, иметь необходимый опыт работы и квалификацию, а также иметь все необходимые документы, удостоверяющие право на заключение контракта.',
        },
        {
            'id': 2,
            'question': 'Как участвовать в тендере и какие документы для этого нужны?',
            'answer': 'Участвовать в тендере могут юридические или физические лица, которые имеют лицензию и соответствующую специализацию для выполнения работ или предоставления услуг, указанных в тендерной документации. Кроме того, исполнители должны соответствовать требованиям, установленным заказчиком в документации на тендере, в том числе, иметь необходимый опыт работы и квалификацию, а также иметь все необходимые документы, удостоверяющие право на заключение контракта.',
        },
        {
            'id': 3,
            'question': 'Какие бывают типы тендеров и что они означают?',
            'answer': 'Участвовать в тендере могут юридические или физические лица, которые имеют лицензию и соответствующую специализацию для выполнения работ или предоставления услуг, указанных в тендерной документации. Кроме того, исполнители должны соответствовать требованиям, установленным заказчиком в документации на тендере, в том числе, иметь необходимый опыт работы и квалификацию, а также иметь все необходимые документы, удостоверяющие право на заключение контракта.',
        },
    ])
</script>

<template>
    <div class="login">
        <div class="login__container container">
            <div class="login__wrapper">
                <div class="login__head">
                    <div class="login__head-content">
                        <UIBreadcrumbs :breadcrumbs="breadcrumbs"/>
                    </div>
                    <div class="title">
                        <h1>Вход</h1>
                    </div>
                </div>
            </div>
            <div class="login__wrapper">
                <div class="login__form-wrapper">
                    <FormLogin class="login__form"/>
                </div>
                <div class="login__faq">
                    <UIFaq :FAQList="FAQList" />
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .login{
        &__container{

        }
        &__wrapper{
            display: grid;
            grid-template-columns: clampFluid(786) 1fr;
            border-bottom: 1px solid #DAE0EE;
        }
        &__head{
            width: 100%;
            border-right: 1px solid #DAE0EE;
            display: flex;
            flex-direction: column;
        }
        &__form-wrapper{
            border-right: 1px solid #DAE0EE;
        }
        &__form{
            width: clampFluid(570);
        }
    }
</style>