<script lang="ts" setup>
</script>

<template>
    <header>
        <HeaderTop />
        <HeaderMiddle />
        <HeaderBottom />
    </header>
</template>

<style lang="scss" scoped>
</style>