<script lang="ts" setup>
</script>

<template>
    <div class="header-bottom">
        <div class="header-bottom__container container">
            <div class="header-bottom__nav">
                <div class="header-bottom__nav-item">
                    <span>Закупки</span>
                </div>
                <div class="header-bottom__nav-item">
                    <span>С чего начать</span>
                </div>
                <div class="header-bottom__nav-item">
                    <span>Правила участия в закупках</span>
                </div>
                <div class="header-bottom__nav-item">
                    <span>Реализация невостребованных остатков</span>
                </div>
            </div>
            <SearchForm class="header-bottom__search"></SearchForm>
        </div>
    </div>
</template>

<style lang="scss" scoped>

    .header-bottom{
        height: clampFluid(77);
        border-bottom: 1px solid #DAE0EE;
        &__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
        &__nav{
            display: flex;
            align-items: center;
            gap: clampFluid(36);
            height: 100%;
        }
        &__nav-item{
            overflow: hidden;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover{
                &::after{
                    transform: translateX(0);
                }
            }
            &::after{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all .3s ease;
                transform: translateX(-100%);
                background-color: #E01021;
            }
            span{
                font-weight: 700;
                font-size: clampFluid(20);
            }
        }
        &__search{
            width: clampFluid(510);
        }
    }
</style>