<script lang="ts" setup>
</script>

<template>
    <div class="header-middle">
        <div class="header-middle__container container">
            <NuxtLink to="/" class="header-middle__logo">
                <img src="/images/logo.png" alt="">
            </NuxtLink>
            <div class="header-middle__nav">
                <div class="header-middle__nav-item">
                    <span>Главная</span>
                </div>
                <div class="header-middle__nav-item">
                    <span>О нас</span>
                </div>
                <div class="header-middle__nav-item">
                    <span>Партнёры</span>
                </div>
                <div class="header-middle__nav-item">
                    <span>Вопросы</span>
                </div>
                <div class="header-middle__nav-item">
                    <span>Помощь</span>
                </div>
            </div>
            <div class="header-middle__additional">
                <div class="header-middle__company">
                    <span>ООО «Название компании»</span>
                </div>
                <div class="header-middle__bell-btn">
                    <svg>
                        <use xlink:href="/images/sprite.svg#bell"></use>
                    </svg>
                </div>
                <NuxtLink to="/account/login" class="header-middle__personal">
                    <svg><use xlink:href='/images/sprite.svg#lk'></use></svg>
                    <span>Вход/Регистрация</span>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

    .header-middle{
        border-bottom: 1px solid #DAE0EE;
        display: flex;
        align-items: center;
        &__container{
            display: flex;
            align-items: center;
            height: clampFluid(75);
        }
        &__logo{
            width: clampFluid(257);
            height: clampFluid(42);
            margin-right: clampFluid(69);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__nav{
            margin-right: auto;
            display: flex;
            gap: clampFluid(32);
            align-items: center;
        }
        &__nav-item{
            cursor: pointer;
            &:hover{
                span{
                    color: $dark-grey;
                }
            }
            span{
                font-size: clampFluid(18);
                transition: all .3s ease;
            }
        }
        &__additional{
            display: flex;
            align-items: center;
            gap: clampFluid(20);
        }
        &__company{
            span{
                color: #969AA8;
                font-size: clampFluid(18);
            }
        }
        &__bell-btn{
            width: clampFluid(47);
            height: clampFluid(47);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 4px;
            transition: all .3s ease;
            &:hover{
                border-color: #DAE0EE;
            }
            svg{
                width: clampFluid(25);
                height: clampFluid(25);
            }
        }
        &__personal{
            border: 2px solid $main-clr;
            border-radius: 4px;
            width: clampFluid(244);
            height: clampFluid(47);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clampFluid(10);
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                background-color: $main-clr;
                svg{
                    fill: #fff;
                }
                span{
                    color: #fff;
                }
            }
            svg{
                width: clampFluid(26);
                height: clampFluid(26);
                transition: all .3s ease;
            }
            span{
                font-weight: 700;
                font-size: clampFluid(20);
                transition: all .3s ease;
            }
        }
    }
</style>