<script lang="ts" setup>
</script>

<template>
    <div class="header-top">
        <div class="header-top__container container">
        <div class="header-top__left">
            <div class="header-top__about-server">
            <div class="header-top__key-val header-top__text">
                <span>Время на сервере:</span>
                <b><span>10:00:00</span></b>
            </div>
            <div class="header-top__text">
                <span>24.01.2023</span>
            </div>
            <div class="header-top__text header-top__text--grey">
                <span>(UTC+3:00) Москва</span>
            </div>
            </div>
            <div class="header-top__currency">
            <div class="header-top__key-val header-top__text">
                <span>USD</span>
                <b><span>91,55 ₽</span></b>
            </div>
            <div class="header-top__key-val header-top__text">
                <span>EUR</span>
                <b><span>102,73 ₽</span></b>
            </div>
            <div class="header-top__key-val header-top__text">
                <span>SNY</span>
                <b><span>12,62 ₽</span></b>
            </div>
            </div>
        </div>
        <div class="header-top__right">
            <div class="header-top__key-val header-top__text header-top__text--grey">
            <span>С нами уже сотрудничают</span>
            <b><span>12 345</span></b>
            </div>

            <div class="header-top__key-val header-top__text header-top__text--grey">
            <span>С нами уже сотрудничают</span>
            <b><span>12 345</span></b>
            </div>

            <div class="header-top__key-val header-top__text header-top__text--grey">
            <span>С нами уже сотрудничают</span>
            <b><span>12 345</span></b>
            </div>
        </div>
        </div>
    </div>
</template>
  
<style lang="scss" scoped>

    .header-top{
        background: #EDEFF4;
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: clampFluid(31);
        }
        &__left{
            display: flex;
            align-items: center;
            gap: clampFluid(60);
        }
        &__about-server{
            display: flex;
            align-items: center;
            gap: clampFluid(18);
        }
        &__key-val{
            display: flex;
            align-items: center;
            gap: clampFluid(5);
        }
        &__currency{
            display: flex;
            align-items: center;
            gap: clampFluid(21);
        }
        &__right{
            display: flex;
            align-items: center;
            gap: clampFluid(34);
        }
        &__text{
            span{
                font-size: clampFluid(16);
            }
        }
    }
</style>
  